body {
  background-color: White;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

canvas {
  background-image:url(IMG/background.jpg);   
  }
